<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
    <!-- Устанавливаем кодировку файлов -->
    <property name="charset" value="UTF-8"/>
    <module name="LineLength">
        <property name="max" value="120"/> <!-- Max length size -->
    </module>
    <module name="TreeWalker">
        <!-- Check for whitespace after certain characters -->
        <module name="WhitespaceAfter"/>
        <!-- Check for whitespace around operators -->
        <module name="WhitespaceAround"/>
        <!-- Check for final local variables -->
        <module name="FinalLocalVariable"/>
        <!-- Check for unused imports -->
        <module name="UnusedImports"/>
        <!-- Check indentation -->
        <module name="Indentation">
            <property name="basicOffset" value="4"/> <!-- Base indentation -->
            <property name="braceAdjustment" value="0"/> <!-- Indentation for braces -->
            <property name="caseIndent" value="4"/> <!-- Indentation for case in switch -->
            <property name="throwsIndent" value="4"/> <!-- Indentation for throws -->
            <property name="arrayInitIndent" value="4"/> <!-- Indentation for array initialization -->
            <property name="lineWrappingIndentation" value="4"/> <!-- Indentation for line wrapping -->
            <property name="forceStrictCondition" value="true"/> <!-- Strict indentation check -->
        </module>
    </module>
</module>