on:
  pull_request:
    branches:
      - 'main'
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Compile with Maven
        run: mvn clean compile

      - name: Run test
        run: mvn test

      - name: Run Checkstyle for payment-service-application
        working-directory: payment-service-app
        run: mvn -B checkstyle:check